body {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    text-align: center; /* Alinea el contenido del div al centro */
}

/* Estilo para el título */
.titulo {
    font-size: 35px;
    font-weight: bold;
    color: rgb(49, 49, 49)
}

/* Estilo para el botón */
button {
    border-radius: 5px;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    border: none;
    padding: 20px 40px;
    font-family: lato;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(29, 29, 29);

}

/* Estilo para las imágenes */
img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 300px;
}

.icon {
    width: 350px;
}

.cajalogo {
    margin-bottom: 50px;
}

.cajaboton {
    margin-top: 80px;
}

p {
    font-size: 20px;
    color: rgb(49, 49, 49)
}